<div class="panel panel-default">
  <div class="panel-body">
    <p><strong>Thank you.</span><br> We have received your message and will respond as soon as possible.</strong></p>
    <%= image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkB7Rx11ivKrgZgOH7Vxq77k7PsAHlYt2X7wbmFSW3YmU7b3QB")%>
  </div><!-- / panel-body -->
</div><!-- / panel -->
