<div class="panel panel-default">
  <div class="panel-body">
    <p><strong>Thank you.</span><br> We have received your message and will respond as soon as possible.</strong></p>
    <%= image_tag("https://i.etsystatic.com/6262375/r/il/dbf420/1460497988/il_340x270.1460497988_mkzb.jpg")%>
  </div><!-- / panel-body -->
</div><!-- / panel -->
