// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
text-align: center;
font-family: Futura, Helvetica, Arial, sans-serif;
color: steelblue;
position: relative;
margin-top:10%;
}

h2{
  text-align: center;
  color: orange;
  position: relative;
  margin-top:10%;

}

.nav-item{
  padding: 10px;

}


footer{
  flex: none;
  text-align: center;
  color: #ffffff;

}

.contact{
  text-align: center;
  font-family: Helvetica, sans-serif, Arial ;
  margin-top: 5%;
  font-size: 1.3em;

}

body{
  position: relative;
  width: 80%;
  margin: auto;
}

nav li a:hover{
  color: #fc0;
  opacity: 0.7;
  text-decoration:none;
}

nav li a{
  color: #ffffff !important;
}


.hero-image{
  height: 100%;
  width: 100%;

  text-align: center;
  img{
    height: 100%;
    width: 100%;
    margin: 0;
  }
}

.carousel-inner{
  margin-top: 10%;
}
